<div class="text-center">
    <div class="confirmation-spinner">
        <img src="/Content/img/confirmation-spinner.png" />
    </div>
    <div class="confirmation-sending-wait-text text-uppercase">
        Sending... Please Wait
    </div>
    <div class="confirmation-thank-you-text">
        Thank you for using the <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span>, the easy way to <span class="see-say-report-it-text">see<span class="report-it-it-span">it</span>, say<span class="report-it-it-span">it</span>, report<span class="report-it-it-span">it</span></span>
    </div>
</div>