<div class="row no-margin-both">
    <div class="back-button">
        <a href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span>Back</span>
        </a>
    </div>
    <div class="about-us-content">
        <div class="header-with-underline contact-us-header">
            Contact Us
        </div>
        <div class="contact-us-fill-text">
            Please fill in the following form and click submit.
        </div>
        <div class="">
            <input class="report-it-input" type="text" name="Name" value="" placeholder="Your name" />
        </div>
        <div class="">
            <input class="report-it-input" type="text" name="Name" value="" placeholder="Your name" />
        </div>
        <div class="">
            <textarea class="report-it-input" type="text" name="Name" value="" placeholder="Your name"></textarea>
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn light-blue-gradient-background contact-us-btn">Submit</button>
        </div>
        <div class="header-with-underline contact-us-second-header">
            Private & Anonymous Reporting
        </div>
        <div class="contact-us-communication">
            T. <a href="tel:+16313372250">(631)-337-2250</a>
        </div>
        <div class="contact-us-communication">
            F. <a href="tel:+16313372254">(631)-337-2254</a>
        </div>
        <div class="contact-us-communication">
            E. <a href="mailto:info@reportit.com">info@reportit.com</a>
        </div>
    </div>
</div>