<div class="back-button">
    <a href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>Back</span>
    </a>
</div>
<div class="create-report-container">
    <div class="create-report-location-info clearfix">
        <div class="pull-left">
            <p>Mc Donalds <img src="/Content/img/dark-direction.png" /></p>
            <p>
                232 5th Ave, New York
                <span class="create-report-location-distance">
                    <span class="green-circle">&#9899;</span> (0.07mi)
                </span>
            </p>
        </div>
        <div class="pull-right create-report-back-button text-center">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="create-report-form">
    </div>
    <div class="centered-btn create-report-btn">
        <button type="button" class="btn report-it-btn light-blue-gradient-background">Submit</button>
    </div>
</div>