<div class="row home-page-text-enter-code text-center">
    Enter a Report It Code Below
</div>
<div class="home-page-input">
    <div class="has-feedback">
        <input type="text" class="form-control" id="codeInput" aria-describedby="codeInputStatus">
        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="home-page-or-text text-center">
    OR
</div>
<div class="centered-btn home-page-btn">
    <button type="button" class="btn report-it-btn light-blue-gradient-background">Search Nearby</button>
</div>
<div class="centered-btn home-page-btn">
    <button type="button" class="btn report-it-btn dark-blue-gradient-background">Search By Name</button>
</div>
<div class="centered-btn home-page-btn">
    <button type="button" class="btn report-it-btn green-gradient-background">Scan QR Code</button>
</div>
<div class="centered-btn home-page-btn">
    <button type="button" class="home-page-download-in-app-store pull-left"></button>
    <button type="button" class="home-page-download-in-play-market pull-right"></button>
</div>