<div class="back-button">
    <a href="#" class=" pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>Back</span>
    </a>
</div>
<div class="login-page-content">
    <div class="header-with-underline login-page-header">
        Login
    </div>
    <div class="login-page-text">
        Thank you very much for using <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span>. If you would like the opportunity to receive feedback please login with Facebook, Google+ or LinkedIn. All of your private information will remain confidential.
    </div>
    <div class="header-with-underline login-page-header">
        Login in using
    </div>
    <div class="login-page-btn-group">
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn dark-blue-gradient-background"><img src="/Content/img/Social/facebook-gray-big.png" /><span>Facebook</span></button>
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn black-gradient-background"><img src="/Content/img/Social/linkedin-gray-big.png" class="login-page-linkedin-img" /><span>Linked In</span></button>
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn red-gradient-background"><img src="/Content/img/Social/google-gray-big.png" class="login-page-google-img" /><span>Google+</span></button>
        </div>
    </div>
</div>