<div class="search-by-name-header text-center">
    <a href="#" class="search-by-name-back-button pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>Back</span>
    </a>
    <span>Search by Name</span>
</div>
<div class="search-by-name-form">
    <div class="has-feedback">
        <input type="text" class="report-it-input" placeholder="Search by name" id="codeInput" aria-describedby="codeInputStatus">
        <span class="glyphicon glyphicon-search form-control-feedback pull-left" aria-hidden="true"></span>
    </div>
    <div class="has-feedback">
        <input type="text" class="report-it-input" placeholder="Current location" id="codeInput" aria-describedby="codeInputStatus">
        <span class="glyphicon glyphicon-map-marker form-control-feedback pull-left" aria-hidden="true"></span>
    </div>
</div>
<div class="search-by-name-results">
    <div class="search-by-name-results-header">
        <img src="/Content/img/direction.png" />
        Current location
    </div>
    <div class="search-by-name-results-list">
        <div class="search-by-name-results-location clearfix">
            <div class="pull-left">
                <p class="search-by-name-results-location-name">Burger King</p>
                <p class="search-by-name-results-location-address">Tolstogo 10-1</p>
            </div>
            <div class="pull-right text-center search-by-name-results-location-right">
                <div class="search-by-name-results-location-distance">
                    <img src="/Content/img/blue_dot.png" />
                    <span class="">(0.07 mi)</span>
                </div>
                <img src="/Content/img/pencil.png" />
            </div>
        </div>
    </div>
</div>