<div class="back-button">
    <a href="#" class=" pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>Back</span>
    </a>
</div>
<div class="search-nearby-input">
    <div class="has-feedback">
        <input type="text" class="report-it-input" placeholder="Search for name" id="codeInput" aria-describedby="codeInputStatus">
        <span class="glyphicon glyphicon-search form-control-feedback pull-left" aria-hidden="true"></span>
    </div>
</div>
<div class="search-nearby-map" id="map">
</div>
<div class="search-nearby-results-list">
    <div class="search-nearby-results-location">
        <span class="search-nearby-results-location-name">
            McDonalds, 232 5th Ave, New York
        </span>
        <img src="/Content/img/completed-icon.png" class="pull-right" />
        <span class="search-nearby-results-location-distance pull-right">
            <span class="blue-circle">&#9899;</span> (0.71mi)
        </span>
    </div>
    <div class="search-nearby-results-location">
        <span class="search-nearby-results-location-name">
            McDonalds, 232 5th Ave, New York
        </span>
        <img src="/Content/img/pencil.png" class="pull-right" />
        <span class="search-nearby-results-location-distance pull-right">
            <span class="blue-circle">&#9899;</span> (0.71mi)
        </span>
    </div>
</div>