<div class="back-button">
    <a href="#">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span>Back</span>
    </a>
</div>
<div class="settings-content">
    <div class="header-with-underline settings-header">
        General Settings
    </div>
    <div class="settings-login">
        <div class="settings-login-text">
            Optional, sign in with
        </div>
        <div class="settings-login-buttons">
            <table>
                <tr>
                    <td><button type="button" class="btn report-it-btn dark-blue-gradient-background settings-btn "><img src="/Content/img/Social/facebook-gray-small.png" /> Facebook</button></td>
                    <td><button type="button" class="btn report-it-btn dark-blue-gradient-background settings-btn"><img src="/Content/img/Social/linkedin-gray-small.png" /> Linked In</button></td>
                    <td><button type="button" class="btn report-it-btn dark-blue-gradient-background settings-btn"><img src="/Content/img/Social/google-gray-small.png" />Google +</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="settings-list">
        <div class="settings-setting">
            <span>Keep me anonymous</span>
            <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="settings-setting">
            <span>Allow push notifications</span>
            <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                <label class="onoffswitch-label" for="myonoffswitch1">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="settings-setting">
            <span>Allow location tracking</span>
            <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
                <label class="onoffswitch-label" for="myonoffswitch2">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="settings-contact-info">
    <div class="settings-contact-info-labels clearfix">
        <span class="pull-left">My Contact Info</span>
        <a href="#" class="pull-right setting-edit-link">Edit</a>
    </div>
    <div class="settings-contact-info-input-group">
        <input type="text" class="settings-contact-info-input" placeholder="First Name (optional)" />
        <input type="text" class="settings-contact-info-input" placeholder="Last Name (optional)" />
        <input type="text" class="settings-contact-info-input" placeholder="Email (optional)" />
        <input type="text" class="settings-contact-info-input" placeholder="Phone (optional)" />
    </div>
</div>