<div class="login-page-content">
    <div class="header-with-underline login-page-header">
        Submit
    </div>
    <div class="login-page-text">
        Thank you very much for using <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span>. We will submit an anonymous and confidential report to <span class="submission-company-name">company name</span> on your behalf. If you would like the opportunity to receive feedback please login with Facebook, Google+, LinkedIn or include your contact info. All of your private information will remain confidential.
    </div>
    <div class="login-page-btn-group">
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn dark-blue-gradient-background"><img src="/Content/img/Social/facebook-gray-big.png" /><span>Facebook</span></button>
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn black-gradient-background"><img src="/Content/img/Social/linkedin-gray-big.png" class="login-page-linkedin-img" /><span>Linked In</span></button>
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn red-gradient-background"><img src="/Content/img/Social/google-gray-big.png" class="login-page-google-img" /><span>Google+</span></button>
        </div>
        <div class="submission-contact-info clearfix">
            <span class="pull-left">
                Include Contact Info
            </span>
            <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="button" class="btn btn-default submission-contact-info-not-active-checkbox">Yes</button>
                <button type="button" class="btn btn-default submission-contact-info-active-checkbox">No</button>
            </div>
        </div>
        <div class="submission-or-text text-center">
            OR
        </div>
        <div class="centered-btn home-page-btn">
            <button type="button" class="btn report-it-btn light-blue-gradient-background">Submit anonymously</button>
        </div>
    </div>
</div>