<div class="row no-margin-both">
    <div class="back-button">
        <a href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span>Back</span>
        </a>
    </div>
    <div class="header-with-underline terms-of-service-header">
        <div class="about-us-header">
            Terms of Service
        </div>
        <div class="terms-of-service-span-text">
            The information in this transmittal is being forwarded in the strictest confidence, meaning that <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span>
            will not voluntarily disclose your identity under any circumstances without your consent. <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span> is forwarding the information solely as a service for
            the receiving party. Information processed through <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span> is escalated in its entirety to the receiving party. Submissions are not filtered or edited. If your submission contains information or content that personally identifies you, or could identify you,
            you may not remain anonymous. You agree that <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span> will not be liable for any act, or failure to
            act, by the receiving party. You also agree and understand that <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span> has no responsibility or authority to take any action based on the information provided by you, other than escalating it to the receiving party. <span class="report-it-text">report <span class="report-it-it-span">it</span><span class="report-it-reg-span">&reg;</span></span> does not tolerate intentional false or malicious reporting or any type of abuse of this service.
        </div>
        <div class="centered-btn">
            <button type="button" class="btn report-it-btn green-gradient-background">Accept and continue</button>
        </div>
    </div>
</div>