body {
     background-image: url(img/background.png);
    margin: 0;
    padding: 0;
    background-repeat: repeat-x;
 }

.triangles{
    height: 29px;
    background-image: url(img/triangles_01.png);
    background-repeat: repeat-x;
}

.sitename{
    width: 220px;
    height: 98px;
    margin: 41px 0px 20px 170px;
    background-color: #ff6647;
    text-transform: uppercase;
    /*background-image:url(img/logo.png);*/
    /*background-repeat: no-repeat;*/
}

.sitename p{
    padding-top: 15px;
    padding-left: 29px;
    font: 43px Oswald;
    color: #fff;
}

.container{
    width: 1170px;
    margin:     0 auto;
}

.left_part{
    width: 870px;
    float:left;
    background-color: #fff;
}

.john_doe{
    width: 170px;
    height: 174px;
    float: left;
    background-image: url(img/john_doe.png);
}

.search{
    margin-bottom: 4px;
}

.top_heading{
    width: 700px;
    padding-left: 169px;
    margin-bottom: 20px;
}

.grad_footer:before{
content: url(img/15_03.png);
    margin-left: -20px;
}

.grad_footer:after{
    content: url(img/15_07.png);
    margin-left: 230px;
    position: absolute;
}

.grad_footer{
    padding-top: 43px;
    margin:0px 20px ;
   background-image: url(img/15_05.png);
    background-repeat: round;
    height: 20px;
}

.roboto{
    font: normal 14px Roboto Light;
    color: #ff6647;
    padding: 40px 0px 0px 30px;
}

.praesent p{
    font: normal 54px Oswald;
    color: #79828c;
    padding-top: 4px;
    padding-left:29px;
    margin: 0;
    line-height: 66px;
}

.social{
    text-align: right;
     width: 170px;
/*     height: 115px;*/ 
margin-bottom: 30px;
 }

.sitam{
    font: normal 14px Roboto Light;
    color: #ff6647;
    margin: -2px 0px 7px 22px;
    /*padding-left: 30px;*/
    white-space: nowrap;
}

.username{
    margin: -7px 0px 0px 89px;
    font: normal 22px Oswald;
    color: #ff6647;
    /*padding-left: 92px;*/
    white-space: nowrap;
}

.banner{
    position: relative;
    margin-left: 200px;
    width: 640px;
    height: 384px;
}

.left_arrow{
    width: 22px;
    position: absolute; 
    bottom: 6px;
    right: 33px;
}

.right_arrow{
    width: 22px;
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.menu_social{
    float: left;
    width: 170px;
}

.menu{
    text-align: right;
    width: 170px;
    height: 157px;
}

.int_head{
background-color: #fff;
    height: 78px;
}

.menu a {
    text-shadow: 0px 0px 1px #fff;
    font: normal 14px Oswald;
    color: #79828c;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
}

.menu hr {
    margin-top: 6px;
    border-bottom: 0px;
    border-top: 1px solid #e6e6e6;
}

a img {border: none}

.sidebar_list{
    padding: 0px;
    float:  right;
    width: 270px;
    margin: 0 auto;
    display: list-item;
    list-style: none;
}

.s{
    float: left;
    padding: 0px;
    padding-left: 10px;
    font: 14px Roboto Light;
    border: none;
    width: 220px;
    height: 43px;
    background-color: #ff6647 ;
    color: #fff;
}

.search_image{
    float: left;
    cursor: pointer;
    width: 40px;
    height: 43px;
    color: #ffffff;
    border: none;
    text-indent: -999em;
    background-image: url(img/search.png);
}

.contact{
    margin-top: -4px;
    background-repeat: no-repeat;
    background-image: url(img/contact_background.png);
    height: 198px;
}

.cont{
    font: 32px Oswald;
    color: #fff;
    padding: 20px 0px 0px 20px;
}

.email{
    font: 14px Roboto Light;
    color: #fff;
    padding: 16px 0px 0px 20px;
}

.caller{
    margin: 30px 0px 0px 18px;
    float: left;
}

.call_me {
    margin: 25px 0px 15px 55px;
}

.call_me p{
    margin: 0px;
    font: 14.7px Roboto Light;
    color: #fff;
}

.integer_header{
    font: 22.5px Oswald;
    color: #ff6647;
    padding: 13px 0px 0px 19px;
}

.eusimod{
    font: 14.5px Roboto Light;
    color: #ff6647;
    padding-left: 19px;
    margin-top: -3px;
}

.lorem {
    background-image: url(img/integer_background.png);
    padding: 10px 0px 0px 20px;
}

.lorem p{
    padding-bottom: 11px;
    margin-top: 12.5px;
    margin-bottom: 11.5px;
    font : 13.5px Roboto Light;
    color: #fff;
    border-bottom: 1px solid #ff866e;
}

.lorem p:last-child{
    padding-bottom: 28px;
    border-bottom: 2px solid #ff6647;
}

.inputs{
    background-image: url(img/fields_background.png);
    background-repeat: no-repeat;
}

.your_name_mail{
    margin: 22px 0px 0px 20px;
    padding:0px 0px 0px 10px;
    font: 13px Roboto Light;
    width: 218px;
    height: 33px;
    background-color: #ef4b2a;
    color: #ffa694;
    border: 1px solid #ff7154;
}

.your_mail{
    margin-top: 11px;
}

.your_message{
    margin: 10px 0px 0px 20px;
    padding:5px 0px 0px 10px;
    font: 13px Roboto Light;
    width: 219px;
    resize: none;
    height: 98px;
    background-color: #ef4b2a;
    color: #ffa694;
    border: 1px solid #ff7154;
}

.subbutton{
    margin: 5px 0px 20px 20px;
    padding: 0px;
    width: 77px;
    height: 32px;
    text-align: center;
    font: 14px Oswald;
    background-color: #ef4b2a;
    color: #fff;
    border: 1px solid #ff7154;
}

.banner_content{
    margin:33px 0px 0px 200px;
}

.banner_header{
    font: 22px Oswald;
    color: #79828c;
    margin-bottom: 0px;
}

.banner_desc{
    font: 14px Roboto Light;
    color: #ff6647;
    margin-top: 0px;
}

.banner_text{
    margin-top: 5px;
    margin-bottom: 0px;
    font:13px Roboto Light;
    color: #8f8f8f;
    white-space: nowrap;
}

.banner_text_first{
    margin-top: 18px;
}

.button{
    width: 100px;
    height: 36px;
    background-color: #ff6647;
    font: 14px Oswald;
    color: #fff;
    border: none;
    margin-top: 32px;
}

.banner_content hr{
    width: 640px;
    margin-top: 38px;
    margin-left: 0px;
    border-bottom: 0px;
    border-top: 1px solid #e6e6e6;
}

.footer{
    margin: 0 auto;
    clear: both;
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    width: 1170px;
    font: 14px Oswald;
    color: #fff;
}

.footer p{
    margin-left: 19px;
    padding-top: 20px;
}

.article{
    margin: 39px 0px 0px 200px;
    width: 639px;
    height: 428px;
}

.photos{
    position: relative;
    width: 370px;
    float: left;
}

.girl{
    width: 170px;
    /*height: 199px;*/
    float: left;
    background-image: url(img/girl_bg.png);
}

.girl p{
    margin-top: -7px;
    margin-left: 9px;
    white-space: nowrap;
    font: 11px Roboto Light;
    color: #8f8f8f;
    position: absolute;
}

.title_bg{
    margin-top: -19px;
    position: absolute;
}

.title_bg2{
    margin-top: -19px;
    margin-left: 130px;
    position: absolute;
}

.photo_colors{
    position: absolute;
    margin-top: -181px;
    opacity: 0.5;
}

.girl_2, .girl_4{
    float: right;
}

.girl_3, .girl_4{
margin-top: 47px;
}

.girl_3_colors{
    margin-top: -166px;
}

.girl_3_title_bg,.girl_3_title_bg2{
    margin-top: -5px;
}

.girl_3 p{
    margin-top: 7px;
}

.girl_4_colors{
    margin-top: -192px;
}

.girl_4_title_bg,.girl_4_title_bg2{
    margin-top: -30px;
}

.girl_4 p{
    margin-top: -18px;
}

.article_text{
    width: 269px;
    height: 428px;
    float: right;
}

.article_header{
    font: 22px Oswald;
    color: #79828c;
    margin: -5px 0px 0px 30px;
}

.article_desc{
    font: 13px Roboto Light;
    color: #ff6647;
    margin: 11px 0px 5px 30px;
}

.sed_semper{
    margin-top: 0px;
}

.article_part{
    margin: 24px 0px 0px 30px;
}

.article_parts{
    margin-top: 0px;
    margin-bottom: 5px;
    font: 13px Roboto Light;
    color: #8f8f8f;
}

.part2{
    margin-top: 24px;
}

.part3{
    margin-top: 26px;
}

.archives{
    margin:32px 0 0 30px;
}

.people_said{
    width: 630px;
    margin-top: 81px;
    margin-left: 200px;
    margin-bottom: 47px;
    height: 335px;
}

.person{
    height: 70px;
    margin-top: 63px;
}

.person_photo{
    float: left;
}

.quote{
    float: left;
}

.tralala_said{
    margin: 5px 0px 18px 30px;
    font: 14px Oswald;
    color: #ff6647;
}

.person_quote{
    margin:-10px 0px 17px 30px;
    clear: left;
    font: italic 13px Roboto Light;
    color: #8f8f8f;
}

.grad_footer_sitename{
    background-image: url(img/15_05.png);
    background-repeat: round;
    height: 20px;
    padding:0px;
    margin: -24px 20px 0px 20px;
}

.grad_footer_sitename:after{
    content: url(img/15_07.png);
    margin-left: 180px;
    position: absolute;
}

.grad_footer_sitename:before{
    content: url(img/15_03.png);
    margin-left: -20px
}

.grad_offooter:before{
    content: url(img/15_03.png);
    margin-left: -20px;
}

.grad_offooter:after{
    content: url(img/15_07.png);
    margin-left: 830px;
    position: absolute;
}

.grad_offooter{
    width: 830px;
    margin:19px 20px ;
    background-image: url(img/15_05.png);
    background-repeat: round;
    height: 20px;
}