<div class="settings-contact-info">
    <div class="submission-contact-info contact-info-control clearfix">
        <span class="pull-left">
            Include Contact Info
        </span>
        <div class="btn-group pull-right contact-info-collapse-control" role="group" aria-label="..." data-toggle="collapse" data-target="#contact-info-collapse">
            <button type="button" class="btn btn-default submission-contact-info-not-active-checkbox">Yes</button>
            <button type="button" class="btn btn-default submission-contact-info-active-checkbox">No</button>
        </div>
        <div class="collapse" id="contact-info-collapse">
            <input type="text" class="settings-contact-info-input" placeholder="First Name (optional)" />
            <input type="text" class="settings-contact-info-input" placeholder="Last Name (optional)" />
            <input type="text" class="settings-contact-info-input" placeholder="Email (optional)" />
            <input type="text" class="settings-contact-info-input" placeholder="Phone (optional)" />
        </div>
    </div>
</div>