<div>
    <div class="control-header" data-toggle="collapse" data-target="#collapseOne">
        <span class="glyphicon glyphicon-ok control-header-ok control-header-active-ok pull-left"></span>
        Approximate Date and Time
        <span class="pull-right glyphicon glyphicon-chevron-right control-header-not-active-chevron"></span>
    </div>
    <div class="datetime-control-content collapse" id="collapseOne">
        <input type="date" id="date" class="report-it-input" placeholder="16, September, 2015" />
        <input type="time" id="time" class="report-it-input" placeholder="4:51 pm" />
    </div>
</div>