<div class="rating-bar-container">
    <div class="text-center rating-bar-header-text">
        How likely are you to recommend us?
    </div>
    <div class="rating-bar-numbers text-center">
        <label class="rating-bar-number rating-bar-number-red-border text-center" id="active-rating-number">
            <input type="radio" name="rating" value="0" />
            0
        </label>
        <label class="rating-bar-number rating-bar-number-red-border  text-center">
            <input type="radio" name="rating" value="1" />
            1
        </label>
        <label class="rating-bar-number rating-bar-number-red-border text-center">
            <input type="radio" name="rating" value="2" />
            2
        </label>
        <label class="rating-bar-number rating-bar-number-red-border text-center">
            <input type="radio" name="rating" value="3" />
            3
        </label>
        <label class="rating-bar-number rating-bar-number-red-border text-center">
            <input type="radio" name="rating" value="4" />
            4
        </label>
        <label class="rating-bar-number rating-bar-number-orange-border text-center">
            <input type="radio" name="rating" value="5" />
            5
        </label>
        <label class="rating-bar-number rating-bar-number-orange-border text-center">
            <input type="radio" name="rating" value="6" />
            6
        </label>
        <label class="rating-bar-number rating-bar-number-orange-border text-center">
            <input type="radio" name="rating" value="7" />
            7
        </label>
        <label class="rating-bar-number rating-bar-number-green-border text-center">
            <input type="radio" name="rating" value="8" />
            8
        </label>
        <label class="rating-bar-number rating-bar-number-green-border text-center">
            <input type="radio" name="rating" value="9" />
            9
        </label>
        <label class="rating-bar-number rating-bar-number-green-border text-center">
            <input type="radio" name="rating" value="10" />
            10
        </label>
    </div>
    <div class="rating-bar-footer-text">
        <span class="pull-left">Not likely</span>
        <span class="pull-right">Extremely likely</span>
    </div>
</div>